p {
    font-family: Courier;
  }
  h1{
    color: White;
  }
  body{
      background-color:cornflowerblue;
  }
/* buttons code from class */

  #projects {
    padding: 30px;
    margin: 20px;
  }
  
  #row{
    display: block;
    text-align:centre;
  }