h1 {
    font-family: Century Gothic;
    font-size: 36px;
    color: #AA98A9;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color:#B3CEE5;
    text-align: center;

}

.intro{
  font-family: Century Gothic;
  font-size: 65px;
  margin: 95px;
  padding: 40px;
  color: rgb(45, 36, 58);
  text-align: center;
}

li{
  font-family: Century Gothic;
  font-size: 20px;
  color: rgb(33, 26, 36);
  text-align: center;
  list-style-type: none;

}

p {
  color:rgb(39, 34, 46);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 35px;
}



button {
    background-color: rgb(198, 206, 251); /*Blue thingy*/
    border: none ;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    margin-bottom: 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .btn-group .button {
    background-color: rgb(45, 20, 53); /* Green */
    border: 1px solid rgb(75, 43, 83);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: #ffffff;
  }

  .instagram{ width:100px; height:100px;
    background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
  
  /* .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
    color: white;
  } */



  
  

