h1 {
    font-family: Century Gothic;
    font-size: 36px;
    color: white;
    text-align: center;
}

h2{
    font-family: Century Gothic;
    font-size: 26px;
    color: white;
    text-align: center;

}

.intro{
  font-family: Century Gothic;
  font-size: 65px;
  margin: 95px;
  padding: 40px;
  color: white;
  text-align: center;
}

li{
  font-family: Century Gothic;
  font-size: 20px;
  color: white;
  text-align: center;
  list-style-type: none;

}

p {
  color:rgb(39, 34, 46);
  font-family: Century Gothic;
  margin: 35px;
}



button {
    background-color: rgb(198, 206, 251); /*Blue thingy*/
    border: none ;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    margin-bottom: 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
/* 

  
  .topnav {
    overflow: hidden;
    background-color: #333;
    
  }
   */
  /* .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(2, 35, 61); /* active button colour*/
    /* color: white;
  }

  .footer{
    display: block;
    background-color:	rgb(27, 93, 131);
    color: black;
    font-family: Century Gothic;
    text-align: left;
    width: 100%;
    bottom: 0px; */
/* 
      }   *

  
    
  
  /* button {
    background-color: white; 
    color: black; 
    border: 2px solid  rgb(129, 137, 206);
  }
  
  button:hover {
    background-color:  rgb(129, 137, 206);
    color: white;
  }


  
  


